<div class="container">
    <div class="row">
        <h2 id="educacion">Educación</h2>

        <div class=lista-edu>
            <ul>
                <li>
                    <h3>Universidad de Tres de Febrero</h3>
                    <p>Tecnicatura en produccion audiovisual</p>
                    <a href="https://untref.edu.ar/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/UNTREF_Logo_2016.svg/1200px-UNTREF_Logo_2016.svg.png" alt="logo universidad de tres de febrero"></a>

                </li>
                <li>
                    <h3>Curso Argentina Programa</h3>
                    <p>Full stack developer</p>
                    <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank"><img src="https://www.concordia.gob.ar/sites/all/themes/programar/images/arg-programa.png" alt="logo argentina programa"></a>
                </li>
                <li>
                    <h3>Curso Codo a Codo</h3>
                    <p>Python full stack</p>
                    <a href="https://buenosaires.gob.ar/educacion/codo-codo-40" target="_blank"><img src="https://inscripcionesagencia.bue.edu.ar/codoacodo/iconos/logos/logo-CAC.webp" alt="logo codo a codo"></a>
                </li>
            </ul>

        </div>
    </div>
</div>