<div class="header ">
<div class="container">
    <div class="row">
        
        
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <a class="nombre " href="#">Julian Manrique</a>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 "> 
                <div class="links">
                    <a href="#">Inicio</a>
                    <a href="#">Sobre mi</a>
                    <a href="#">Estudios</a>
                    <a href="#">Trabajos</a>
                    <a href="#">Hablididades</a>
                
                </div>
            </div>
        </div>
    </div>
</div>
