<div class="container">
<div class="row">
   <h2>Experiencia Laboral</h2>
   
    <div class="col-12 ">
        <ul>
            <li>
                <h3>Trabajo/empresa 1</h3>
                <p>Puesto laboral</p>
            </li>
            <li>
                <h3>Trabajo/empresa 2</h3>
                <p>Puesto laboral</p>
            </li>
            <li>
                <h3>Trabajo/empresa 3</h3>
                <p>Puesto laboral</p>
            </li>
            <li>
                <h3>Trabajo/empresa 4</h3>
                <p>Puesto laboral</p>
            </li>
            <li>
                <h3>Trabajo/empresa 5</h3>
                <p>Puesto laboral</p>
            </li>
            <li>
                <h3>Trabajo/empresa 6</h3>
                <p>Puesto laboral</p>
            </li>
        </ul>

    </div>
</div>
</div>