img{
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 100% 50%;
    border-radius: 250px;
    margin: 70px 0 0 50px;
    border: 10px solid aliceblue; 
}

section{
    background-color: rgb(24, 24, 24);
    color: aliceblue;
    
}

.acerca{
    width: 80%;
    margin: 0px auto;
    padding-left: 30px;
    text-align: end;
    line-height: 2em;
}

.info{
    float: right;
    margin: 0px 0 50px 0px;
}

.relleno {
    margin: 0 auto 50px auto;
    width: 80%;
    
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.cuadradito{
    background-color: aqua;
    background-image: url(../../../assets/mesh-930.png);
    background-attachment: fixed;
    background-size: auto;
    width: 100px;
    height: 100px;
    

   
}





@media screen and (max-width: 767px) {
    .foto{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        margin: 100px 0 0 0px;;
        padding: 0;
    }

    .info{
        text-align: center;
        margin-left: 0;
        float: none;
        margin: 80px 0 100px 0;
       
    }

    .acerca{
        padding: 0;
        text-align: center;
        
    }
}

