<div class="container">
    <div class="row">
        <section>
            <div class=" col-12 col-xs-12 col-sm-12 col-md-5 col-lg-6 col-xl-5">
                <div class="foto">
                    <img src="../../../assets/selfie.jpg" href="imagen de perfil" >
                </div>
            </div>
            <div class="info col-12 col-xs-12 col-sm-12 col-md-7 col-lg-6 col-xl-7">
                <div class="acerca">
                    <h2>Acerca de mi:</h2>
                    <p><strong>Julian Manrique</strong> es estudiante para desarrollador web full stack, con mayor orientacion hacia el backend. 
                        Recibido en la universidad de 3 de febrero
                        y productor audiovisual en sus momentos libres. Actualmente vive
                    en Buenos Aires, Argentina.</p>
                </div>
            </div>
        </section>  
    </div>
</div>