<app-header></app-header>
<div class="contenedor">
    <form action="">
        <img src="../../../assets/perfil.png" alt="logo perfil">

        <h1>Login</h1>
        <label for="usuario">Usuario:</label>
        <input type="text" name="usuario" id="usuario" placeholder="Ingresa tu usuario">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña">
        <button type="submit">Login</button>
    </form>
</div>
