svg{
    width: 30px;
    color:aliceblue;
    margin-right: 20px;
    align-items: center;
}

svg:hover{
    color: rgb(89, 82, 210);
    transition: all 0.7s ease;
}

#social{
    display: block;
    
}



